
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script th:inline="javascript">
        /*<![CDATA[*/
        const session_user_id = [[${session.SS_USER_ID}]]; // Controller에서 받은 세션에 저장된 값
        let msg = "";
        let res = [[${res}]];
        console.log(res)
        if(res){
            msg = session_user_id + "님이 로그인 되었습니다.";

        }else{
            msg = "아이디, 비밀번호가 일치하지 않습니다.";
        }
        alert(msg);
        /*]]>*/
    </script>
    <meta charset="UTF-8">

    <meta http-equiv="refresh" th:if="${res}" content="2; /main/mainPage">

    <meta http-equiv="refresh" th:if="${!res}" content="2; /user/loginPage">
    <title>로그인 결과</title>


</head>
<body>

<div class="container" style="height: 250px">
</div>
<div class="container" style="width: 300px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center" th:text ="${msg}">

        </div>
        <div class="col-md-12" style="text-align: center" >
            <div th:if="${res}">메인 페이지로 이동합니다.</div>

            <div th:if="${!res}">로그인 페이지로 돌아갑니다.</div>


        </div>
    </div>
</div>
</body>
</html>
